/* Notificaitons.css */


/* ----------------------------------------  Notification Alerts  ------------------------------------------------- */
#Notification-Alert-Wrapper {
	position: absolute;
	top: 74px;
	right: 0;
	width: 25%;
	height: 100%;
	pointer-events: none;
	z-index: 600;
	margin-right: 30px;
}
.Notification-Alert {
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 99px;
	z-index: 620;
	pointer-events: visible;
	overflow: hidden;
	transform-origin: 50% 0;
	transform: scale(0.4);
	opacity: 0;
	transition: opacity 0.4s, transform 0.4s, top 0.4s;
	transition-timing-function: cubic-bezier(.2, 0, .2, 1);
}
	.Notification-Alert.Notification-Alert--Open {
		transition: opacity 0.4s, transform 0.4s, top 0.4s;
		transition-timing-function: cubic-bezier(.2, 0, .2, 1);
		transform-origin: 50% 0;
		transform: scale(1);
		opacity: 1;
	}
	.Notification-Alert.Notification-Alert--Open.Notification-Alert--Closing {
		transform-origin: 50% 0;
		transform: scale(0.4);
		opacity: 0;
	}
	.Notification-Alert.Notification-Alert--Moveup {
		animation: Notification-Alert--Moveup 0.6s cubic-bezier(.2, 0, .2, 1);
	}
	@keyframes Notification-Alert--Moveup {
	0% {
		margin-top: 109px;
	}

	100% {
		margin-top: 0px;
	}
}
.Notification-Alert-Image-Container {
	background-color: #fafafa;
	display: table-cell;
	width: 26%;
	vertical-align: middle;
	text-align: center;
}
.Notification-Alert-Image {
	text-align: center;
	float: none;
	width: 90%;
	height: auto;
	border-radius: 50%;
}
.Notification-Alert-Content {
	padding: 15px 35px 17px 15px;
	width: 267px;
	display: table-cell;
}
.Notification-Alert-Close {
	display: block;
	top: 0;
	right: 0;
	left: auto;
	height: 30px;
	width: 30px;
	color: #404040;
	position: absolute;
}
.Notification-Alert-Title {
	text-shadow: none;
	font-weight: 300;
	font-size: 1.308rem;
	padding: 0 0 7px 0;
	display: block;
}
/* ----------------------------------------    ------------------------------------------------- */





/* ----------------------------------------  Notification Menu  ------------------------------------------------- */


#Notification-Menu {
	background: rgb(255, 255, 255);
	height: 300px;
	width: 250px;
	padding: 0;
}

.Notification-Menu-Header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(230, 230, 230);
	height: 30px;
	justify-content: center;
	align-content: center;
	display: flex;
}

.Notification-Menu-Content {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 30px;
	bottom: 30px;
	right: 0;
	left: 0;
	background:
	linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
	radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
	linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
	radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}

.Notification-Menu-Footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(230, 230, 230);
	height: 30px;
}

/* The Actual Notifications */
.Notification-Menu-Notification {
	background-color: #f7f7f7;
	position: relative;
	width: 100%;
	height: 70px;
}
.Notification-Menu-Notification-Image-Container {
	width: 26%;
	vertical-align: middle;
	text-align: center;
	align-content: center;
}
.Notification-Menu-Notification-Image {
	text-align: center;
	float: none;
	width: 40px;
	height: auto;
	border-radius: 50%;
	margin-top: 15px;
}
.Notification-Menu-Notification-Content {
	padding: 15px 35px 17px 15px;
	width: 267px;
	display: table-cell;
}
	.Notification-Menu-Notification-Content > p {
		position: absolute;
		left: 70px;
		top: 25px;
	}
.Notification-Menu-Notification-Close {
	display: block;
	top: 0;
	right: 0;
	left: auto;
	height: 30px;
	width: 30px;
	color: #404040;
	position: absolute;
}
.Notification-Menu-Notification-Title {
	text-shadow: none;
	font-weight: 300;
	font-size: 1.308rem;
	display: block;
	position: absolute;
	left: 70px;
	top: 7px;
}

/* ----------------------------------------    ------------------------------------------------- */
