breaker-footer
	breaker-footer--other
		breaker-footer--other-left
			a(href="/robots") Robots
			a(href="/events") Events
		breaker-footer--other-center
			img(src="images/icon-bg.webp")
		breaker-footer--other-right
			a(href="/sponsor") Sponsor
			a(href="/contact") Contact

script(type='text/javascript', src='assets/bootstrap.js')