nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.breaker-nav
		a.navbar-brand(href="/")
			img.icon(src="images/icon-bg.webp")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar")
			span.navbar-toggler-icon
		div.collapse.navbar-collapse#navbar
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href="/robots") Robots
				li.nav-item.active
					a.nav-link(href="/events") Events
				li.nav-item.active
					a.nav-link(href="/sponsor") Sponsor
				li.nav-item.active
					a.nav-link(href="/contact") Contact
				li.nav-item.active
					a.nav-link(href="/calendar") Calendar