/* EditAccount.css */


.EditAccount-Card {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(245, 245, 245);
	position: absolute;
	top: -20px;
	left: -15px;
	right: -15px;
	height: calc(100% - 15px);
}

.EditAccount-Tabs {
	background: rgb(225, 225, 225);
}


.EditAccount-Viewer {
	height: 100%;
	width: 100%;
}

.EditAccount-View {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

	.EditAccount-View.EditAccount-View--Active {
		display: flex;
		animation: EditAccount-View-Open 1s cubic-bezier(.2, 0, .2, 1) 0s 1 normal forwards;
	}

	@keyframes EditAccount-View-Open {
		from { opacity: 0 }
		to { opacity: 1 }
	}

	.EditAccount-View.EditAccount-View--Active > * {
		width: 100%;
	}