/* Breaker Slider */

.BreakerSlider {
	position: relative;
	top: 50%;
	width: 80%;
	margin: 0 auto;
}

	.BreakerSlider input[type=range] {
		z-index: 1000;
		width: 100%;
		position: absolute;
		-webkit-appearance: none;
		background-color: rgba(0, 0, 0, 0.2);
		height: 2px;
	}

		.BreakerSlider input[type=range]:focus {
			outline: none;
		}

			.BreakerSlider input[type=range]:focus::-webkit-slider-thumb {
				box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.1);
			}

		.BreakerSlider input[type=range]::-webkit-slider-thumb {
			-webkit-appearance: none;
			transition: all 150ms;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: #FFC107;
		}

			.BreakerSlider input[type=range]::-webkit-slider-thumb:active {
				width: 16px;
				height: 16px;
			}

