/* ProfileTab.css */


#Profile {
	transition: opacity 1s cubic-bezier(.2, 0, .2, 1);
}


/*  ----------------------------------------  Avatar  ----------------------------------------  */
.ProfileTab-Avatar {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 250px;
	height: 250px;
}

.ProfileTab-AvatarEditor {
	display: none;
}

.ProfileTab-AvatarEditor--Editing {
	padding: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(100, 100, 100, 0.6);
}

	.ProfileTab-AvatarEditor--Editing i {
		font-size: 60px;
		color: rgba(60, 60, 60, 0.8);
	}

	.ProfileTab-AvatarEditor--Editing:hover {
		opacity: 1;
	}

.ProfileTab-Avatar img {
	width: 100%;
	height: auto;
}

@media (max-width: 970px) {
	.ProfileTab-Avatar {
		position: relative;
		padding-left: calc(50% - 135px);
		width: calc(250px + ((50% - 135px) + (50% - 135px)));
		padding-right: calc(50% - 135px);
	}
}

/*  ----------------------------------------  User  ----------------------------------------  */
.ProfileTab-User {
	position: absolute;
}

@media (min-width: 970px) {
	.ProfileTab-User {
		right: 10px;
		top: 10px;
		width: calc(100% - 290px);
		height: 250px;
	}
	.ProfileTab-Name {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 200%;
		margin: 5px 0 0 15px;
	}

	.ProfileTab-Role {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 140%;
		margin: -5px 0 0 30px;
	}

	.ProfileTab-Desc {
		display: block;
		width: 100%;
		text-align: left;
		margin: 20px 0 0 15px;
		font-size: 110%;
	}
}

@media (max-width: 970px) {
	.ProfileTab-User {
		right: 10px;
		top: 20px;
		left: 10px;
		height: auto;
		position: relative;
		margin-bottom: 10px;
	}
	.ProfileTab-Name {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 200%;
	}
	.ProfileTab-Role {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 140%;
	}
	.ProfileTab-Desc {
		display: block;
		width: 100%;
		text-align: center;
	}
}



/*  ----------------------------------------  Info  ----------------------------------------  */
.ProfileTab-Info {
	position: absolute;
}

.ProfileTab-Info--Wrapper1 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ProfileTab-Info--Wrapper2 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ProfileTab-Info--CPW {
	width: 100%;

}
.ProfileTab-Info--CPW-I {
	font-size: 155%;
	transform: translate(2px, 3px);
	min-width: 32px;
}
.ProfileTab-Info--CPW-T {
	font-size: 140%;
	min-width: 100px;
}
.ProfileTab-Info--CPW-V {
	font-size: 130%;
}


@media (min-width: 970px) {
	.ProfileTab-Info {
		left: 10px;
		top: 280px;
		width: calc(50% - 20px);
		height: 450px;
	}
	.ProfileTab-Info--Header1 {
		margin: 30px 0 6px 0;
	}
}

@media (max-width: 970px) {
	.ProfileTab-Info {
		position: relative;
		right: 10px;
		top: 30px;
		left: 10px;
		height: 450px;
	}
	.ProfileTab-Info--Header1 {
		transform: translateY(6px);
		margin: 30px 0 12px 0;
	}
}

@media (max-width: 380px) {
	.ProfileTab-Info {
		width: 100vw !important;
		right: -10px !important;
		left: -15px !important;
	}
}

.ProfileTabJI-Teams {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 24px;
	max-height: 48px;
	max-width: 200px;
}



/*  ----------------------------------------  Tasks  ----------------------------------------  */
.ProfileTab-Tasks {
	position: absolute;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

@media (min-width: 970px) {
	.ProfileTab-Tasks {
		right: 10px;
		top: 280px;
		width: calc(50% - 20px);
	}
}

@media (max-width: 970px) {
	.ProfileTab-Tasks {
		position: relative;
		right: 10px;
		top: 36px;
		left: 10px;
	}
}

@media (max-width: 380px) {
	.ProfileTab-Tasks {
		width: 100vw !important;
		right: -10px !important;
		left: -15px !important;
	}
}