doctype html
html
	head
		title="BreakerBots - Contact"
		- var mobile = mobile
		include ../includes/head.pug

		style.
			.featurette-heading {
				text-align: center;
			}

			.contact {
				margin: 20px;
			}

			.team-pic {
				max-height: 200px;
			}

			.icon {
				max-width: 80px;
			}

			div.row.featurette {
				display: flex;
				justify-content: center;
				width: 100% !important;
				margin: 0 !important;
			}

			div.row.contact-us {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				max-width: 700px;
			}

				div.row.contact-us > * {
					margin-top: 40px !important;
					width: 200px !important;
					min-width: 200px !important;
					max-width: 200px !important;
					text-align: center;
				}
	body
		include ../includes/header.pug

		div.contact
			h2(class="featurette-heading") Social Media
			div(class="row featurette")
				div(class="row contact-us" style="width: 100%;")
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/twitter.webp")
						p.lead Twitter: #[a(href="https://twitter.com/FRC5104") @FRC5104]
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/instagram.webp")
						p.lead Instagram: #[a(href="https://www.instagram.com/breakerbots/") @breakerbots]
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/facebook.webp")
						p.lead Facebook: #[a(href="https://www.facebook.com/FRCPGHSRobotics5104/") FRCPGHS Robotics5104]
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/github.webp")
						p.lead Github: #[a(href="https://github.com/breakerbots") BreakerBots]
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/blue.webp")
						p.lead The Blue Alliance: #[a(href="https://www.thebluealliance.com/team/5104") Team 5104]
					div.col-lg-2(style="margin-top: 10px;")
						img.rounded-circle.icon.mx-auto.d-block(src="../images/contact/email.webp")
						p.lead Gmail: #[a(href="mailto:5104breakerbots@gmail.com") 5104breakerbots@gmail.com]

			h2.featurette-heading(style="margin-top: 80px;") Want to join the team?
			div(style="width: 100%; text-align: center; margin-top: 20px;")
				| Students and adults can join the team!
				br
				| Please send us an email! 
				//- a(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd_a8KGs-3kCFC6gltnUZzhQSmKjWPj1p9_WiTmLV4Dj9Z7jQ/viewform?usp=sf_link") join form 

			div(style="height: 500px;")

		include ../includes/footer.pug