<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Event Dashboard</title>
    <%- include('../includes/head.html') %>

    <style>
        .events {
            margin: 40px 4% 60px 4%;
            justify-content: center;
            min-height: calc(100vh - 346px);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            text-align: center;
            color:  #666
        }

        /* b,
        /* h3 {
            color: #666;
        } */ */

        .event {
            margin: 2%;
            text-align: center
        }

        .event-centered {
            margin: 2%;
            justify-content: center;
            text-align: center
            
        }

        .event-pic {
            max-height: 200px;
        }
    </style>
</head>
<script type="text/javascript" src="/assets/dashboardScript.js"></script>
<body>
    <%- include('../includes/header.html') %>
    <div class="events">
        <div class="row">
            <div class="col">
            <!-- <div class="row event" style="margin:auto; display: flex; justify-content: center; text-align: center;"> -->
                <div class="col-lg-11"  >
                    <h3 class="featurette-heading">Next Match</h2>
                </div>
                <div class="row" style="margin:auto; display: flex; text-align: center;">
                    
                    <table class="table table-sm" style="width: 400px; background-color: rgb(220, 220, 220); border: 10px solid rgb(230, 230, 230)" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">Time Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: white">
                                <th scope="row" id="next_match_name">N/A</th>
                                <td id="next_match_time">0.0</td>
                                <td id="next_match_eta">0.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="table table-sm" style="width: 400px; background-color: rgb(220, 220, 220); border: 10px solid rgb(230, 230, 230)" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Auto</th>
                            <th scope="col">Teleop</th>
                            <th scope="col">Endgame</th>
                            <th scope="col">EPA</th>
                            <th scope="col">Percentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: royalblue">
                            <th scope="row" id="blue_0_num">BLUE 0</th>
                            <td id="blue_0_auto_epa"style="text-align: center;">0.0</td>
                            <td id="blue_0_tele_epa"style="text-align: center;">0.0</td>
                            <td id="blue_0_end_epa" style="text-align: center;">0.0</td>
                            <td id="blue_0_norm_epa"style="text-align: center;">0.0</td>
                            <td id="blue_0_perc"style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: royalblue">
                            <th scope="row" id="blue_1_num">BLUE 1</th>
                            <td id="blue_1_auto_epa"style="text-align: center;">0.0</td>
                            <td id="blue_1_tele_epa"style="text-align: center;">0.0</td>
                            <td id="blue_1_end_epa"style="text-align: center;">0.0</td>
                            <td id="blue_1_norm_epa"style="text-align: center;">0.0</td>
                            <td id="blue_1_perc"style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: royalblue">
                            <th scope="row" id="blue_2_num">BLUE 2</th>
                            <td id="blue_2_auto_epa"style="text-align: center;">0.0</td>
                            <td id="blue_2_tele_epa"style="text-align: center;">0.0</td>
                            <td id="blue_2_end_epa"style="text-align: center;">0.0</td>
                            <td id="blue_2_norm_epa"style="text-align: center;">0.0</td>
                            <td id="blue_2_perc"style="text-align: center;">0.0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm" style="width: 400px; background-color: rgb(220, 220, 220); border: 10px solid rgb(230, 230, 230)" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col" >Alliance</th>
                            <th scope="col">Projected RPs</th>
                            <th scope="col">Projected Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: white">
                            <th scope="row" id="projected_results_alliance_us">BreakerBots</th>
                            <td id="us_projected_rp" style="text-align: center;">0.0</td>
                            <td id="us_projected_score" style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: white">
                            <th scope="row" id="projected_results_alliance_us">Opponents</th>
                            <td id="opp_projected_rp"style="text-align: center;">0.0</td>
                            <td id="opp_projected_score"style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: white">
                            <th scope="row" id="projected_outcome" colspan="3" style="text-align: center;">UNKNOWN OUTCOME</th>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm" style="width: 400px; background-color: rgb(220, 220, 220); border: 10px solid rgb(230, 230, 230)" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Team</th>
                            <th scope="col">Auto</th>
                            <th scope="col">Teleop</th>
                            <th scope="col">Endgame</th>
                            <th scope="col">EPA</th>
                            <th scope="col">Percentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:rgb(242, 95, 79)">
                            <th scope="row" id="red_0_num">RED 0</th>
                            <td id="red_0_auto_epa"style="text-align: center;">0.0</td>
                            <td id="red_0_tele_epa"style="text-align: center;">0.0</td>
                            <td id="red_0_end_epa"style="text-align: center;">0.0</td>
                            <td id="red_0_norm_epa"style="text-align: center;">0.0</td>
                            <td id="red_0_perc"style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: rgb(242, 95, 79)">
                            <th scope="row" id="red_1_num">RED 1</th>
                            <td id="red_1_auto_epa"style="text-align: center;">0.0</td>
                            <td id="red_1_tele_epa"style="text-align: center;">0.0</td>
                            <td id="red_1_end_epa"style="text-align: center;">0.0</td>
                            <td id="red_1_norm_epa"style="text-align: center;">0.0</td>
                            <td id="red_1_perc"style="text-align: center;">0.0</td>
                        </tr>
                        <tr style="background-color: rgb(242, 95, 79)">
                            <th scope="row" id="red_2_num">RED 2</th>
                            <td id="red_2_auto_epa"style="text-align: center;">0.0</td>
                            <td id="red_2_tele_epa"style="text-align: center;">0.0</td>
                            <td id="red_2_end_epa"style="text-align: center;">0.0</td>
                            <td id="red_2_norm_epa"style="text-align: center;">0.0</td>
                            <td id="red_2_perc"style="text-align: center;">0.0</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2 class="featurette-heading">Event Dashboard</h2>
                        <h4 class="featurette-heading" id="time">TIME</h5>
                    </div>
                    <div class="col">
                        <h2 class="featurette-heading">Previous Match</h2>
                        <h4 class="featurette-heading">N/A</h4>
                    </div>
                    
                </div>
                <div class="row" id="twitch-embed"></div>
            </div>
        </div>
        <div class="row" style="justify-content: center;" >
        <!-- <div class="col"> -->
                <h6 id="last_update" style="padding-right: 5%;">N/A</h6>
            <!-- </div>
            <div class="col"> -->
                <!-- <button class="btn btn-primary" onclick="" type="button">Change Channel</button> -->
            <!-- </div> -->
        </div>
            
        </div>
    </div>
    
    <%- include('../includes/footer.html') %>
</body>

</html>