<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Events</title>
    <%- include('../includes/head.html') %>

    <style>
        .events {
            margin: 40px 4% 60px 4%;
            justify-content: center;
            min-height: calc(100vh - 346px);
        }

        h1,
        h2 {
            text-align: center;
            color:  #666
        }

        b,
        h3 {
            color: #666;
        }

        .event {
            margin: 2%;
            text-align: center
        }

        .event-pic {
            max-height: 200px;
        }
    </style>
</head>

<body>
    <%- include('../includes/header.html') %>

    <div class="events">
        <div id="padthisplease">
            <h2 class="featurette-heading">Meeting Schedule</h2>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="event">
                    <p class="lead">Near the beginning of every year, Dean Kamen's FIRST kicks off their FIRST Robotics Competition, after this, our "build season" as well as its accompanying meeting schedule take effect.
                        <br> Here is our current meeting schedule (subject to change): </p>
                    <p><a href="https://breakerbots.com/calendar">Click to See Calendar </a></p>
                </div>
            </div>
            <div class="col-lg-5 event" style="margin:auto; display: flex; justify-content: center">
                <table class="table table-sm" style="width: 400px; background-color: rgb(220, 220, 220); border: 2px solid rgb(230, 230, 230)" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: white">
                            <th scope="row">Monday</th>
                            <td>3:40 PM - 6:30 PM </td>
                        </tr>
                        <tr style="background-color: rgb(230, 230, 230)">
                            <th scope="row">Tuesday</th>
                            <td>3:40 PM - 6:30 PM </td>
                        </tr>
                        <tr style="background-color: white">
                            <th scope="row">Thursday</th>
                            <td>3:00 PM - 6:30 PM </td>
                        </tr>
                        <tr style="background-color: rgb(230, 230, 230)">
                            <th scope="row">Friday</th>
                            <td>3:40 PM - 9:00 PM </td>
                        </tr>
                        <tr style="background-color: white">
                            <th scope="row">Saturday</th>
                            <td>9:00 AM - 6:00 PM </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="featurette-divider">
        <h2 class="featurette-heading">Competitions</h2>
        <div class="row featurette">
            <div class="row event" style="width: 100%;">
                <div class="col-lg-6"><img class="event-pic" src="https://info.firstinspires.org/hs-fs/hubfs/2023%20Season/2023%20season%20assets/HeaderBanner_1199x449.png?width=1799&name=HeaderBanner_1199x449.png" width="450px">
                    <h2>Central Valley Regional<br></h2>
                    <p>March 9 to March 12</p>
                    <p><a href="https://cafirst.org/frc/centralvalley/" target="_blank">More Info</a></p>
                </div>
                <div class="col-lg-6"><img class="event-pic" src="../images/events/mbrLogo.png">
                    <h2>Monterey Bay Regional</h2>
                    <p>March 29 to April 1</p>
                    <p><a href="https://cafirst.org/frc/montereybay/" target="_blank"   >More Info</a></p>
                    <p class="lead"><br></p>
                </div>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.html') %>
</body>

</html>