doctype html
html
	head
		title="BreakerBots - Home"
		- var mobile = mobile
		include ../includes/head.pug

		style.
			h1, h2, h3, h4 {
				color: #b90013;
			}

			.about {
				margin: 4%;
			}

			.top-image {
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				margin: 0 !important;
			}
	body
		include ../includes/header.pug

		div
			div.top-image.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light(style="background-image: url('../images/home/electronicsCloseUP.jpg'); ")
				div.col-md-5.mx-auto.my-5(style='background-color: white; opacity: .9;  border-radius: 15px; min-width: 50vw')
					div(style='justify-content: center; opacity: 1')
						br
						h1.display-4.font-weight-normal 2022 Season
						p.lead.font-weight-normal
							| The BreakerBots are preparing to compete in the 2022 FIRST Robotics Competition Season.
							| With a large group of rookies and some new leadership we are excited to tackle this year’s game: <a href="https://www.youtube.com/watch?v=XmTSXEkGrVw " target="_blank" >RAPID REACT.</a> 
							br
							br
							| Do you live in Pacific Grove or in the surrounding area and have a background in engineering or 
							| an interest in building robots? Consider becoming a mentor for our team! Please contact 
							| us at <br> 
							| #[a(href="mailto:5104breakerbots@gmail.com") 5104breakerbots @gmail.com] if you’re interested or have any questions.
							br
							br

							a.btn.btn-primary(href='https://www.firstinspires.org/robotics/frc' role='button') <i>FIRST</i> Inspires Website
						br
			div.about
				hr.featurette-divider
				div.row.featurette
					div.col-md-7
						h2.featurette-heading About us
						p.lead
							| We are Team 5104, a <i>FIRST</i> Robotics Competition (FRC) team from Pacific Grove,
							| California known as the BreakerBots. Coach Roby Hyde started our team in 2013 with the goal of
							| providing a welcoming space for students who shared an interest in STEM. Since then, our team has
							| grown to about 4 mentors and 18 active students, with approximately 1/3 of them women. Our focus
							| has expanded beyond science as well; we now have students working on business, project management,
							| communications, art and team spirit.
							br
							br
							| Although we meet year-round, our busiest time begins in January when we have just six weeks to design and build
							| a robot that can compete in a specifically designed robot game. We typically enter two regional competitions in
							| California each year, and we have qualified for the FIRST World Championships in Houston, Texas twice in the past five years.
							| This year, we are launching into Rapid React, in FIRST’s unique “varsity sport for the mind.
					div.col-md-5
						img.featurette-image.img-fluid.d-block(src='../images/home/TeamMBR.webp')
				hr.featurette-divider
				div.row.featurette
					div.col-md-7.order-md-2
						h2.featurette-heading Mission Statement
						br
						p.lead
							| To inspire students in STEM-related fields, foster teamwork, and provide a welcoming
							| space for all who share our desire to pursue excellence.
						br
					div.col-md-5
						img.featurette-image.img-fluid.d-block(style='max-height: 250px' src='../images/home/electronics.webp')
				hr.featurette-divider
				div.row.featurette
					div.col-md-7
						h2.featurette-heading About <i>FIRST</i>
						p.lead
							| For Inspiration and Recognition of Science and Technology (<i>FIRST</i>) is a
							| non-profit organization founded by Dean Kamen in 1989 with the goal of inspiring young people to
							| pursue an education in STEM-related fields. Through competition, cooperation, and gracious
							| professionalism, <i>FIRST</i> reaches students throughout the United States and the world. You can find
							| more information 
							a(href='https://www.firstinspires.org/') here
							| .
					div.col-md-5
						img.featurette-image.img-fluid.d-block(style='object-fit: contain; max-height: 250px; box-shadow: none !important;' src='../images/home/frc_logo.webp')
				hr.featurette-divider

		include ../includes/footer.pug