<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Events</title>
    <%- include('../includes/head.html') %>

    <style>
        .events {
            margin: 40px 4% 60px 4%;
            justify-content: center;
            min-height: calc(100vh - 346px);
        }

        h1,
        h2 {
            text-align: center;
            color:  #666
        }

        b,
        h3 {
            color: #666;
        }

        .event {
            margin: 2%;
            text-align: center
        }

        .event-pic {
            max-height: 200px;
        }
    </style>
</head>

<body>
    <%- include('../includes/header.html') %>

    <div class="events">
        <div id="padthisplease">
            <h2 class="featurette-heading">Intrested In Joining?</h2>
        </div>
        <div class="row featurette">
            <div class="row event" style="width: 100%;">
                <div class="col-lg-6">
                    <h2>Students<br></h2>
                    <p>Are you a PGHS student intrested in STEM, Comunications, Busness, or Graphic Design?<br>Join the Breakerbots, No expirence required!</p>
                    <p><a href="https://cafirst.org/frc/centralvalley/" target="_blank">https://cafirst.org/frc/centralvalley/</a></p>
                </div>
                <div class="col-lg-6">
                    <h2>Mentors</h2>
                    <p>Do you live in Pacific Grove or in the surrounding area?<br>
                        Do you have a background in engineering or an interest in building robots?<br> 
                        Consider becoming a mentor for our team! </p>
                    <p><a href="https://cafirst.org/frc/montereybay/" target="_blank">https://cafirst.org/frc/montereybay/</a></p>
                    <p class="lead"><br></p>
                </div>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.html') %>
</body>

</html>