doctype html
html   
    head 
        title="BreakerBots - Hours"
        include ../includes/head.pug

    body.hours
        card
            img(src='../images/icon-bg.webp')
            card-title Sign In
            card-subtitle (MEETING_TITLE)
            .form-group.select
                label(for='name') Name
                .select-selected.select-arrow-active
                .select-items
            button#signButton.btn.btn-primary(onclick='sign()' type='button' style='display: none;')

        script(type='text/javascript', src='assets/bootstrap.js')
        script(type='text/javascript', src='images/hours.js')
        script.
                if (localStorage.getItem("hash") !== password) {
                    window.location.href = "";
                }