doctype html
html
	head
		title="BreakerBots - Robots"
		- var mobile = mobile
		include ../includes/head.pug
		style.
			.robots { margin: 4%; }
			b { color: #666; }
			.featurette-image {
				object-fit: contain;
				width: auto;
				height: auto;
			}
	body
		include ../includes/header.pug

		div.robots
			
			//Tsunami :)
			div.row.featurette
				div.col-md-7
					h2.featurette-heading Tsunami 
						span.text-muted 2020 - Infinite Recharge
					p.lead Capable of shooting power cells across the field into the lower, upper, and inner ports with automatic vision targeting. Uses a flywheel shooter with an adjustable hood and turret for precision aiming. Also capable of climbing the generator switch when over five feet high in under 8 seconds, using a folding bar system.
					br
					br
					div
						b Tech Specs:
						ul 
							li
								div #[strong Weight:] 125 lbs
							li 
								div #[strong Size:] 28" W x 32" L x 27.5" H
							li 
								div #[strong Shooter:] 270d turret, 40d adj. hood, 9000rpm flywheel, limelight for vision tracking
							li 
								div #[strong Climber:] folding arms w/ under 8 second full climb
							li 
								div #[strong Drive-Train:] Custom falcon gearboxes w/ 11.5 ft/s max speed, 6" wheels with omnis in front
							li 
								div #[strong Hopper:] snake hopper w/ versa rollers for movement
							li 
								div #[strong Intake:] drop down folding deploy, printed mechanum wheels for centering
							li 
								div #[strong Paneler:] 3" flex wheels powered by a 775pro w/ vp encoder and rev color sensor v3
							li 
								div #[strong Autonomous:] 3, 6, and 8 ball autos
					div
						b Resources:
						ul
							li
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Tsunami_2020") Tsunami
							li
								b CAD: 
								a(target="_blank" href="https://a360.co/3gtMkKe") Tsunami
							li
								b Videos: 
								a(target="_blank" href="https://photos.app.goo.gl/UPLpZPuZrnwJ3dAy7") Auto, 
								a(target="_blank" href="https://photos.app.goo.gl/gvFtA81bdxUfTx5GA") Climb
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Tsunami.webp") 
		
			hr.featurette-divider 

			//Riptide
			div.row.featurette
				div.col-md-7.order-md-2 
					h2.featurette-heading Riptide 
						span.text-muted 2019 - Off season 
					p.lead Built for team outreach and to make our robotics team better known in our school and community. Uses a two scuba tank system to fire t-shirts into the crowd at various events, including school rallies and football games.
					br
					br
					div
						b Tech Specs:
						ul 
							li 
								div #[strong Weight:] ~160 lbs
							li 
								div #[strong Size:] 28" W x 33" L x 24" H
							li 
								div #[strong Top Speed:] 17 ft/s
							li 
								div #[strong Projectile Range:] 100+ ft
							li 
								div #[strong Pneumatics:] High pressure scuba tank at 3000psi, scuba tank expansion chamber at 0psi-120psi, MAC Solenoid Valve for firing
							li 
								div #[strong Control System:] RoboRIO w/ Generic FRC Control System
							li 
								div #[strong Wireless:] Modified Open Mesh Radio w/ External Antennas
							li 
								div #[strong Drivetrain:] 4x CIM Motors w/ 3" Custom Gearboxes
							li 
								div #[strong Turret & Pitch:] Powered by Bosch Seat Motors
					div 
						b Resources:
						ul
							li
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Riptide") Riptide
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Riptide.webp") 
			hr.featurette-divider 

			//Nebula
			div.row.featurette 
				div.col-md-7 
					h2.featurette-heading Nebula 
						span.text-muted 2019 - Destination: Deep Space 
					p.lead Capable of placing game pieces in the cargo ship and level one of the rocket. Uses a pneumatic system for handling hatches, a motorized arm and chute for cargo, and an additional pneumatic system for solo Hab-3 climb.
					br
					br
					div
						b Tech Specs:
						ul
							li 
								div #[strong Weight:] 117 lbs
							li 
								div #[strong Size:] 28" W x 32" L x 47" H
					div
						b Awards:
						ul
							li 
								div #[strong Second Seed Alliance Captain:] Monterey Bay Regional
							li 
								div #[strong Regional Semifinalist:] Monterey Bay Regional
							li 
								div #[strong Regional Semifinalist:] Central Valley Regional
					div
						b Resources:
						ul
							li
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Nebula_2019") Nebula
				div.col-md-5
					img.featurette-image.img-fluid.d-block(src="../images/robots/Nebula.webp") 
			
			hr.featurette-divider 
			
			//Athena
			div.row.featurette 
				div.col-md-7.order-md-2 
					h2.featurette-heading Athena 
						span.text-muted 2018 - Power Up 
					p.lead Uses a motorized intake and a single column cascading elevator to pick up, transport, and eject power cubes on the switch, scale, and vault. Also capable of climbing with a hook and winch.
					br
					br
					div
						b Tech Specs:
						ul
							li 
								div #[strong Weight:] 120 lbs
							li 
								div #[strong Size:] 28" W x 33" L x 55" H
					div
						b Awards:
						ul
							li 
								div #[strong Regional Finalist:] Central Valley Regional
							li 
								div #[strong Eighth Seed Alliance Captain:] Newton Division at Houston World Championships
							li 
								div #[strong Tournament Semifinalists:] CalGames
							li 
								div #[strong Tournament Quarterfinalists:] MadTown Throwdown
					div
						b Resources:
						ul
							li 
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Power-Up-2018-Offseason") Power Up 2018 Off-season
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Athena.webp") 

			hr.featurette-divider 

			//Archer
			div.row.featurette 
				div.col-md-7 
					h2.featurette-heading Archer 
						span.text-muted 2017 - Steamworks 
					p.lead Picks up, transports, and places gears using a passive funnel-style intake and pneumatic ejection. Uses a winch and rachet system to climb at the end of the match.
					br
					div
						b Tech Specs:
						ul
							li 
								div #[strong Weight:] 115 lbs
							li 
								div #[strong Size:] 40" W x 36" L x 24" H
					div
						b Awards:
						ul
							li 
								div #[strong Regional Finalists:] Central Valley Regional
							li 
								div #[strong Fourth Seed Alliance Captains:] Turing Division at Houston World Championships
							li 
								div #[strong Tournament Finalists:] CalGames
					div
						b Resources:
						ul
							li 
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Archer_2017") Archer 2017
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Archer.webp") 

			hr.featurette-divider 

			//Madoc
			div.row.featurette 
				div.col-md-7.order-md-2 
					h2.featurette-heading Madoc 
						span.text-muted 2016 - Stronghold 
					p.lead Uses a dual-motor intake system paired with a servo trigger control to collect, transport, and eject 10" foam balls into goals. For maneuverability, uses large, rubber tires and custom (wooden) hubs to be able to cross "defenses" easily.
					br
					div
						b Tech Specs:
						ul
							li 
								div #[strong Size:] 28" W x 32" L x 12" H
					div
						b Awards:
						ul
							li 
								div #[strong Tournament Finalists:] CalGames
					div
						b Resources:
						ul
							li 
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Madoc_2016") Madoc 2016
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Madoc.webp") 

			hr.featurette-divider 

			//Klaus
			div.row.featurette 
				div.col-md-7 
					h2.featurette-heading Klaus 
						span.text-muted 2015 - Recycle Rush 
					p.lead Uses a winch and pulley system to pick up, stack, and transport totes across the field. Also uses Mecanum wheels to provide omni-directional driving.
					br
					div
						b Tech Specs:
						ul
							li 
								div #[strong Size:] 27" W x 29" L x 14" H
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Klaus.webp") 

			hr.featurette-divider 

			div.row.featurette 
				div.col-md-7.order-md-2 
					h2.featurette-heading Felix 
						span.text-muted 2014 - Aerial Assist 
					p.lead Competed in Aerial Assist. The BreakerBots' first robot!
					br
					div 
					b Tech Specs:
					ul
						li 
							div #[strong Size:] 23" W x 32" L x 28" H
					div
						b Resources:
						ul 
							li
								b Code: 
								a(target="_blank" href="https://github.com/BreakerBots/Felix-2014") Felix 2014
				div.col-md-5 
					img.featurette-image.img-fluid.d-block(src="../images/robots/Felix.webp") 

			hr.featurette-divider

		include ../includes/footer.pug