<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Sponsor</title>
    <%- include('../includes/head.html') %>

    <style>
        .sponsor {
            margin: 4%;
        }

        h1,
        h3 {
            text-align: center
        }

        h4>div {
            color: #666;
        }

        .sponsor-us {
            margin: 2%;
            text-align: center
        }

        .sustainer {
            max-width: 200px;
            max-height: 250px;
            margin-top: 50px
        }

        .platinum {
            max-width: 200px;
            max-height: 150px;
            margin-top: 50px
        }

        .gold {
            max-width: 200px;
            max-height: 100px;
            margin-top: 50px
        }
    </style>
</head>

<body>
    <%- include('../includes/header.html') %>

    <div class="sponsor">
        <div class="row featurette">
            <h2 class="featurette-heading" style="width: 100%; text-align: center;">Sponsor us!</h2>
            <div class="row sponsor-us">
                <div class="col-md-4">
                    <h4>By check</h4>
                    <p class="lead">Write check to PG STEAM and send to us at <i>Pacific Grove High School, Attention:
                            BreakerBots, 615
                            Sunset
                            Drive, Pacific Grove, CA, 93950</i></p>
                </div>
                <div class="col-md-4">
                    <h4>Online</h4>
                    <p class="lead">Use PayPal to donate through PG STEAM, Inc., our 501(c)(3) non-profit
                        organization.<br><a
                            href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RAC27FGW8BJBY&amp;source=url" target="_blank"><button
                                class="btn btn-primary btn-lg" style="margin-top: 15px" >Click here to donate!
                            </button></a></p>
                </div>
                <div class="col-md-4">
                    <h4>In kind</h4>
                    <p class="lead"><b>Businesses:</b> Contact us at <a
                            href="mailto:5104breakerbots@gmail.com">5104breakerbots@gmail.com</a><br></p>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
        <h1>Thank you to all our generous sponsors!</h1>
        <h3 class="featurette-heading" style="background-color: #fdb515; margin: 15px 0px; padding: 5px">Sustainers </h3>
        <div class="row featurette">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Roberta Hunter </h4>
                            <p class="lead mb-auto">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Cisco</h4>
                            <p class="lead mb-auto">Cisco helps seize the opportunities of tomorrow by proving that
                                amazing
                                things can happen when you connect the unconnected.</p><a class="stretched-link"
                                href="https://www.cisco.com/">cisco.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img sustainer"
                                src="../images/sponsors/Cisco.webp"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">AT&amp;T Chevron Eagles for Education</h4>
                            <p class="lead mb-auto">The human energy company.</p><a class="stretched-link"
                                href="https://www.chevron.com/sustainability/social/education">chevron.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block" style="margin-top: -50px"><img
                                class="bd-placeholder-img sustainer" src="../images/sponsors/chevron.webp"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Monterey Peninsula Foundation</h4>
                            <p class="lead mb-auto">The thrill of golf. The power of giving.<br></p><a
                                class="stretched-link"
                                href="http://www.montereypeninsulafoundation.org/">montereypeninsulafoundation.org</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img sustainer"
                                src="../images/sponsors/mpf.webp"></div>
                    </div>
                </div>
                <div class="col-md-6" style="margin: auto">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Microsoft</h4>
                            <p class="lead mb-auto">At Microsoft our mission and values are to help people and
                                businesses
                                throughout the world realize their full potential.</p><a class="stretched-link"
                                href="https://www.microsoft.com/">microsoft.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block" style="margin-top: 30px"><img
                                class="bd-placeholder-img sustainer" src="../images/sponsors/microsoft.webp"></div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="featurette-heading" style="background-color: #fdb515; margin: 15px 0px; padding: 5px">Platinum
            Sponsors</h3>
        <div class="row featurette">
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/sponsors/qualcomm.webp"
                                    style="max-height: 350px; max-width: 350px">Qualcomm </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/sponsors/tyeLogo.webp"
                                    style="max-height: 100px; max-width: 100px"><br> Technology for Youth Empowerment
                                TYE </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Michele Ostovar</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/sponsors/WhitsonEngineersLogo.jpeg"
                                    style="max-height: 100px; max-width: 100px"><br> Whitson Engineers </h3>
                        </div>
                    </div>
                </div>  
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Brant Abrahamson & Nancy Adkins</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Terrence Coen</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin: auto">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Eugene Loh</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin: auto">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Kathryn Miller</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin: auto">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Don Nance</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin: auto">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0"><img src="../images/icon.webp" style="max-height: 50px; max-width: 50px">
                                Maher Alkhalaf</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="featurette-heading" style="background-color: #fdb515; margin: 15px 0px; padding: 5px">Gold Sponsors
        </h3>
        <div class="row featurette">
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Tim Rosenow</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Janet Tailon</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Brain Steckler</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Catherine Wooten</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Mark Kotyk</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">May Alkhalaf</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Paul Anderson</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Jaleh Ostovar</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Patrick Troy</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Francis Coen</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Alejandro Coatu</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Gary Sprader</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Pivotal Expertise</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Roy & Joan Moore</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static" style="color: #666">
                            <h3 class="mb-0">Evi Smith</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="featurette-heading" style="background-color: #fdb515; margin: 15px 0px; padding: 5px">In-Kind
            Sponsors</h3>
        <div class="row featurette">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Bagel Bakery</h4>
                            <p class="lead mb-auto">The Bagel Bakery is renowned for having the best and tastiest bagels
                                as
                                voted by the residents of Monterey County year after year.</p><a class="stretched-link"
                                href="http://www.thebagelbakery.com/index.html">thebagelbakery.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img gold"
                                style="margin-right: 40px" src="../images/sponsors/bagelbakery.webp"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Wilsons Plumbing and Heating</h4>
                            <p class="lead mb-auto">Wilson's are the people you can trust, we've been in your homes since 1941.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img gold"
                                style="margin-right:25px" src="../images/sponsors/WilsonsPlumbingandHeating.jpeg"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Monterey Bay Diving</h4>
                            <p class="lead mb-auto">Beneath the waves, there&rsquo;s no room for error. Monterey Bay
                                Diving sets
                                the standard in commercial diving expertise, safety and technical capability.</p><a
                                class="stretched-link"
                                href="https://www.montereybaydiving.com/">montereybaydiving.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img gold"
                                style="margin-right: 40px" src="../images/sponsors/diving.webp"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Hayward Lumber</h4>
                            <p class="lead mb-auto">Hayward in Pacific Grove is a full-service lumber and building
                                materials yard with a large selection of high-quality lumber, building materials,
                                and more.</p><a class="stretched-link"
                                href="https://www.haywardlumber.com/pacific-grove-lumberyard-and-design-center">haywardlumber.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img gold"
                                src="../images/sponsors/Hayward.webp"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h4 class="mb-0">Winkleblack Construction</h4>
                            <p class="lead mb-auto">We bring knowledge, attention to detail and enthusiasm to each job, so you can enjoy the experience. We prove time and again that homebuilding can be exciting and enjoyable.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block"><img class="bd-placeholder-img gold"
                                src="../images/sponsors/winkleblack.jpeg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.html') %>
</body>

</html>