doctype html
html
    head 
        title="BreakerBots - Hours"
        include ../includes/head.pug

    body.hours
        table.member-table

        script(type='text/javascript', src='assets/bootstrap.js')
        script(type='text/javascript', src='images/hours.js')
        script.
                if (localStorage.getItem("hash") !== password) {
                    window.location.href = "";
                }