doctype html
html   
    head 
        title="BreakerBots - Hours"
        link(rel='stylesheet', type="text/css", href='../dist/main.css')

    body
        <table class="member-table">
                    </table>

            
        script(type='text/javascript', src='images/hours.js')