<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Weekly Updates </title>
    <%- include('../includes/head.html') %>

        <style>
            h1,
            h2,
            h3,
            h4 {
                color: #b90013;
            }

            .weekupdates {
                margin: 4%;
            }

            b {
                color: #666;
            }

            .featurette-image {
                object-fit: contain;
                width: auto;
                height: auto;
            }

            .heading {
                object-fit: contain;
                color: black;
                width: auto;
                height: auto;
            }

            .intextimg {
                margin: 2%;
                width: 30%;
                height: 30%;
            }

            .tothesideimg {
                object-fit: scale-down;
                width: 90%;
                height: 90%;
                padding-left: 10%;
            }
        </style>
</head>

<body>
    <%- include('../includes/header.html') %>

        <div class="weekupdates">
            <!--Week 9 :)-->
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                    <br><br>
                    <h2 class="featurette-heading"> Week 9: Redesign and Reef-inement
                        <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; After the Pinnacles Regional,
                            our goal was to make major improvements to our design. Within these past weeks,
                            we have completely redesigned our end-effector and refined our ground intake subsystem.
                            We have also been working to improve our robot’s autonomous performance,
                            where the robot functions without a driver’s input. In all, we have significantly improved
                            our robot
                            for our next competition on March 27-30th, the Contra Costa Regional at Pittsburg High
                            School!
                        </p>
                </div>
                <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week9update.webp">
                </div>
            </div>
        </div>
        <!--Week 8 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 8: Pinnacles Regional
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; Last week, the Breakerbots competed in our first
                        regional event of the season: Pinnacles Regional, hosted by Deep-Space Robotics at
                        Hollister High School. After weeks of preparation, we were excited to hit the field and
                        compete alongside so many
                        talented teams. It was an intense and thrilling event, and we were proud to earn the role of
                        8th seed alliance captain,
                        teaming up with the Churrobots and Monta Vista Robotics to secure two hard-fought wins. On
                        top of that, we were honored
                        to receive the Judge’s Award, recognizing our team’s unique efforts and impact. A huge thank
                        you to our mentors,
                        sponsors, and everyone who came out to support us—your energy and encouragement mean the
                        world. We can’t wait to take
                        what we’ve learned and keep pushing forward in the season ahead!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/PinnacleClimb.webp">
            </div>
        </div>
        </div>
        <!--Week 7 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 7: Programming & Scrimmage
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This week, the BreakerBots successfully hosted an
                        exciting scrimmage for local teams, providing a great opportunity for
                        everyone to test their robots. During the event, our team made significant progress,
                        fine-tuning subsystems and
                        improving performance. The programming team have also made impressive strides with the
                        development of
                        our autopaths, ensuring a
                        strong autonomous period, and began work on our intelligent vision system. With our
                        preparations in full swing, we’re
                        looking forward to competing at the Pinnacles Regional next Thursday, February 27th!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/Week7_climb.webp">
            </div>
        </div>
        </div>
        <!--Week 6 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 6: Beginning Leviathan
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp;It’s that time of the week again—another big step
                        forward for the Breakerbots! This week, we wrapped up work on our
                        Development Robot and have officially shifted our focus to building the final designs for
                        our competition robot,
                        Leviathan. While the build team gets to work, the drive team has been sharpening their
                        skills with continued practice,
                        now using a mock field to simulate real match conditions. We’re also looking forward to
                        hosting the Week 0 Scrimmage for
                        local teams on February 22, giving everyone a chance to test their robots in a real-game
                        environment. Exciting progress
                        all around—stay tuned as we bring Leviathan to life!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/Week6.webp">
            </div>
        </div>
        </div>
        <!--Week 5 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 5: Fine-tuning
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This week, the Breakerbots made some exciting
                        progress! We focused on fine-tuning our Development Robot, making huge
                        improvements to the intake, indexer, elevator, and climber to ensure everything runs
                        smoothly. After a lot of hard work,
                        the programmers can finally begin their work, and bring the robot to life with
                        code. It’s a big milestone,
                        and we’re eager to get started on the next phase, beginning to design and build our final
                        competition robot, Leviathan! Stay tuned for more
                        updates as we keep pushing
                        forward!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/WEEK5.webp">
            </div>
        </div>
        </div>
        <!--Week 4 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 4: Wrapping Up Devbot
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This week, we successfully completed our development
                        robot and handed it off to the programming team. The programmers
                        have been working tirelessly to fine-tune the robot, making adjustments to ensure optimal
                        performance.
                        Meanwhile, the drive team is getting ready to start practice in the Student Union. For now,
                        they’ll focus on getting
                        comfortable with the robot, but once we have the full practice field set up, they’ll be able
                        to run more advanced
                        drills. Everyone is working hard, and with competition season getting closer, we’re excited
                        to see all the pieces coming
                        together!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week4image.webp">
            </div>
        </div>
        </div>
        <!--Week 3 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 3: Wiring
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This week, we’ve made great progress on our
                        development robot. The team completed the mechanical assembly and started
                        wiring on Wednesday. Our design has an intake that pivots out of our robot to pick up game
                        pieces, and puts them through
                        the indexer and into the arm on an elevator, which can place game pieces anywhere on the
                        field. Finally, our robot has a
                        grabber and a winch to allow it to climb on a swinging cage. Next, we’ll finish the
                        electrical work and hand the robot
                        off to programming for testing and refinement. At the same time, the CAD team is hard at
                        work fine-tuning designs and
                        making adjustments to improve Leviathan’s performance. Everyone has contributed their skills
                        and effort, and the
                        excitement is building as we bring Leviathan closer to completion!
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week3update.webp">
            </div>
        </div>
        </div>
        <!-- week 2 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 2: Manufacturing
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; During week 2, the BreakerBots honed in on the robot’s
                        design, machining and assembling prototypes–and finalized
                        mechanisms. Thus far, the team has tested two different game piece intakes on the
                        development robot, one for picking up
                        the large playground balls (algae) and the other for intaking the pipes (coral). An elevator
                        system has also been
                        assembled for our devbot, alongside a climbing mechanism and game piece indexer, and we’re
                        hoping to test these systems
                        next week. Machining began for the mechanism to place coral as well. Devbot has also been
                        great for the programming
                        team, as they’ve gotten a stronger sense of the full robot and can more easily pre-program.
                        For a full photo reel of our season so far, check out our
                        official <a href="https://www.youtube.com/watch?v=vjarRaZ0UOc" target="_blank"
                            rel="noopener noreferrer">Youtube channel!</a>

                    </p><br><br>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week2.webp">
            </div>
        </div>
        <!--Week 1 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 1: Prototyping
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; During Week 1, the Breakerbots worked on CAD and
                        prototypes for their 2025
                        robot, “Leviathan”. The team prototyped many different designs for the algae intake, the
                        coral intake, and the climb
                        and finalized design decisions for these tasks. The CAD team started making full models of
                        these mechanisms as well
                        as the robot, and our mechanical team assembled the robot’s chassis and wired it. Finally,
                        on January 11th,
                        Breakerbots
                        participated in the 2025 Central Coast Design Review with ten other local teams. Now, our
                        software team will start
                        programming the robot, and the team will continue refining prototypes for Leviathan.
                    </p>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/WEEK1.webp">
            </div>
        </div>
        </div>
        <!--Week 0 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading"> Week 0: Kickoff
                    <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This year’s game event, Reefscape, started off with a
                        blast revealing <a href="https://www.youtube.com/watch?v=YWbxcjlY9JY" target="_blank">a new
                            game</a>,
                        new challenges, and new robot opportunities, and we are eager to step up to the challenge!
                        This fall, we gained many new members, bringing our total to over 40 teammates,
                        all of whom are excited to get the build season started. <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;With a new game comes new rules, designs, and ideas, so our first task
                        was to become familiar
                        with the rules.
                        In short, our robot must pick up balls and pipes, place those balls and pipes into different
                        goals, and be able to climb
                        onto a hanging cage.
                        Once we understood the game, we came up with designs, strategies, and concepts to help us create
                        the most optimal robot to achieve these tasks.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;After kickoff day, we will have 8 ½ weeks before heading off to the
                        Pinnacles Regional to face
                        off against many competitive teams.
                        Be sure to come back next week for the BreakerBots Week 1 Recap!


                    </p><br><br>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week0_kickoff_crowd.webp">
            </div>
        </div>
        </div>

        <%- include('../includes/footer.html') %>
</body>

</html>