<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Weekly Updates </title>
    <%- include('../includes/head.html') %>

    <style>
        .weekupdates {
            margin: 4%;
        }

        b {
            color: #666;
        }

        .featurette-image {
            object-fit: contain;
            width: auto;
            height: auto;
        }
        .intextimg{
            margin: 2%;
            width: 40%;
            height: 40%;
        }
        .tothesideimg{
            object-fit: scale-down;
            width: 90%;
            height: 90%;
            padding-left: 10%;
        }
    </style>
</head>

<body>
    <%- include('../includes/header.html') %>

    <div class="weekupdates">
        <!--Week 2 :)-->
        <!-- <hr class="featurette-divider"> -->
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="color: #666;"> Week 2 
                <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; We have a total of 7 weeks before our first competition, and 
                    have spent the second week continuing to discuss, design, and prototype for the robot. We have built 
                    more advanced prototypes out of metal and polycarbonate. 
                    <br>
                
                    &nbsp;&nbsp;&nbsp;&nbsp; Programming has been able to detect our position in the field using April Tags that resemble QR codes posted 
                    around the field. They have also managed to autonomously balance the robot on the charge station. <br>
                <img class= "intextimg" src="../images/weeklyupdates/week2_autobalance.gif"> <br>
                  &nbsp;&nbsp;&nbsp;&nbsp; The CAD team is working on making Beta Bot. CAD continued to work on designing elevators, and we made a choice 
                    on the elevator to proceed with. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp; On Saturday we attended a design meeting hosted by Plus Ultra Robotics (7413) in 
                    Monterey, where we met with local teams 7777, 4255 and 4171. We had a great time meeting new teams and seeing other 
                    teams designs.
                </p>
                </div>
                   <div class="col-md-5"> <img class="featurette-image img-fluid d-block" src="../images/weeklyupdates/week2_armprotype.webp">
                </div>
            </div>
        </div>
        <!--Week 1 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <br><br>
                <h2 class="featurette-heading" style="color: #666;"> Week 1 
                <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; We have a total of eight weeks between kickoff and our first competition, 
                    and we have spent the first week discussing, designing, and prototyping ideas for their 2023 robot. 
                    This is a hands-on activity for all of us, where we build wooden mock-ups for the design teams.   
                    Below is a prototype of an intake mechanism we are considering. <br>
                <img class= "intextimg" src="../images/weeklyupdates/week1_wood_prototype.webp"> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;We have successfully assembled and wired our swerve drive chassis which is now in the hands of our programming team.   
                    Swerve drive allows the robot to drive in any direction at any moment, making for a very quick and maneuverable robot. 
                    We have dubbed our base driving robot, “Squid.”<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;The CAD team is working on multiple elevator designs for placing the cones and cubes. 
                    They have also refined the intake ideas in Fusion 360. In addition, volunteers and mentors are nearly done constructing 
                    replica field elements for testing our prototypes and robots.  
                </p><br><br>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week1_swerve_bot.webp">
            </div>
        </div>
    </div>

    <%- include('../includes/footer.html') %>
</body>

</html>