<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Weekly Updates </title>
    <%- include('../includes/head.html') %>

    <style>
        .weekupdates {
            margin: 4%;
        }

        b {
            color: #666;
        }

        .featurette-image {
            object-fit: contain;
            width: auto;
            height: auto;
        }
        .intextimg{
            margin: 2%;
            width: 30%;
            height: 30%;
        }
        .tothesideimg{
            object-fit: scale-down;
            width: 90%;
            height: 90%;
            padding-left: 10%;
        }
    </style>
</head>

<body>
    <%- include('../includes/header.html') %>

    <div class="weekupdates">
        <!--Week 1 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading" style="color: #666;"> Week 1 
                <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; The goal of our first week of build season was to prototype and CAD mechanisms to pick up notes, 
                    shoot them, and climb. We prototyped multiple variations of each idea to see whether they would be viable on the robot, 
                    and then voted on which designs we thought would perform best. Our CAD team outdid themselves, 
                    producing CAD for the robot including our drive train, intake, shooter, amp placement system, and climber.  
                    We're looking forward to machining our pieces and putting our beta robot, "Hurricane", together next week.  
                </p>
                </div>
                   <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week1_shooter_testing.gif">
                </div>
            </div>
        </div>
        <!--Week 0 :)-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="padding-right: 5%;">
                <br><br>
                <h2 class="featurette-heading" style="color: #666;"> Week 0 (kickoff)
                <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp; This year’s build season, Crescendo, started off with a blast revealing <a href="https://www.youtube.com/watch?v=9keeDyFxzY4&pp=ygUNZnJjIDIwMjQgZ2FtZQ%3D%3D"> a new game</a>, 
                    new challenges, and new robot opportunities, and we are eager to step up to the challenge! 
                    This fall, we gained 11 new members, bringing our total to over 30 teammates, 
                    all of whom are excited to get the build season started. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;With a new game comes new rules, designs, and ideas, so our first task was to become familiar with the rules. 
                    In short, our robot must pick up discs, throw those discs into two different goals, and be able to climb on a hanging chain.  
                    Once we understood the game, we came up with designs, strategies, and concepts to help us create the most optimal robot to achieve these tasks.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;After kickoff day, we will have 7 ½ weeks before heading off to the Silicon Valley Regional to face off against some of the world’s best teams. 
                    Make sure to come back next week for the BreakerBots Week 1 Recap.


                </p><br><br>
            </div>
            <div class="col-md-5"> <img class="tothesideimg" src="../images/weeklyupdates/week0_kickoff_crowd.webp">
            </div>
        </div>
    </div>

    <%- include('../includes/footer.html') %>
</body>

</html>