/* SideNav.css */

.mdc-drawer__drawer .sidenav-list-item, .mdc-drawer__drawer .side-nav__link {
	border-radius: 8px;
}

.mdc-drawer-item--selected {
	background: rgba(214, 0, 0, 0.1);
	color: rgba(214, 0, 0, 0.2);
}

	.mdc-drawer-item--selected > i {
		color: rgba(214, 0, 0, 0.7) !important;
	}

	.mdc-drawer-item--selected > span {
		color: rgba(214, 0, 0, 0.9);
	}

/*MDC Side NAV*/
.side-nav__article, .side-nav__link, .side-nav__toggle {
	color: #5f6368;
	display: block;
	line-height: 18px;
	padding: 12px 48px;
	padding-left: 24px;
	text-align: left;
	width: 100%;
	z-index: 9;
}

	.side-nav__article:hover, .side-nav__link:hover, .side-nav__toggle:hover {
	}

.side-nav .active, .side-nav .side-nav__link--active {
	color: #202124;
	font-weight: 500
}

@media screen and (min-width: 1321px) {
	.side-nav {
		transform: translateX(0);
		z-index: 3
	}
}

.side-nav__section-title {
	color: #202124;
	display: block;
	font-size: 18px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-top: 40px
}

.side-nav__menu {
	border-bottom: 1px solid rgba(0,0,0,.12);
	padding-bottom: 40px;
	padding-top: 40px
}

	.side-nav__menu:last-child {
		border: none
	}

.simple-menu + .side-nav__menu {
	padding-top: 0
}

.side-nav__menu--sections {
	padding-top: 0
}

.side-nav__menu-item {
	overflow: hidden;
	position: relative
}

.side-nav__link, .side-nav__toggle {
	cursor: pointer
}

.side-nav__wrapper {
	overflow: hidden
}

.side-nav__submenu {
	list-style-type: none;
	overflow: hidden;
	z-index: 8;
	transition: all 0.4s ease;
	line-height: 0;
	transform: translate(0, -100%);
	max-height: 0px;
}

.side-nav__submenu-wrapper {
	overflow: hidden;
}

.side-nav__submenu-open {
	transform: translate(0, 0);
	max-height: 1000px;
}

.side-nav__submenu .side-nav__link {
	padding-left: 42px
}

.side-nav__articles {
	position: relative
}

.side-nav__article {
	padding: 12px 66px
}

	.side-nav__article.active {
		color: #202124
	}

.side-nav__progress-bar {
	background: rgba(189,189,189,.4);
	bottom: 13px;
	display: block;
	left: 50px;
	position: absolute;
	top: 13px;
	width: 2px
}

.side-nav__scrub {
	background: #202124;
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	transition: height .2s ease,top .2s ease;
	width: 100%
}

.sidenav-list-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 48px;
	padding: 0 16px;
}