/* Parts.css */
.Parts-Parts-TabBar {
	font-size: 140%;
	padding: 0 10px 0 10px;
	border-right: 1px solid #a00000;
	text-align: center;
	height: 40px;
	flex: 0 0 auto;
	cursor: pointer;
}

.Parts-Parts-Tab {
	display: none;
	min-height: 100%;
	width: 100%;
}


.Parts-Parts-Tab th {
	font-size: 16px;
}

.Parts-Parts-Tab th i {
	font-size: 19px;
	transform: translateY(5px);
	color: rgb(108, 108, 108);
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(.2, 0, .2, 1);
}

	.Parts-Parts-Tab th:hover i {
		opacity: 0.7;
	}

	.Parts-Parts-Tab th i.active {
		opacity: 1;
	}

.Parts-Parts-Tab--Active {
	display: block;
	animation: Parts-Parts-Tab--Open 1s cubic-bezier(.4, 0, .2, 1)
}

@keyframes Parts-Parts-Tab--Open {
	from {
		opacity: 0;
		transform: translateY(10%)
	}
	to {
		opacity: 1;
		transform: translateY(0)
	}
}