<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Hours</title>
    <%- include('../../includes/head.html') %>
    <meta http-equiv="refresh" content="900">

    <style>
        button {
            margin-bottom: 40px;
        }
    </style>
</head>

<body class="hours">
    <card>
        <img src="/images/icon.png">
        <card-title>Hours Tracker</card-title>
        <card-subtitle>No Active Meeting</card-subtitle>
        <card-subtitle><%= (new Date()).toLocaleDateString('en-US') %></card-subtitle>
        <div class="form-group">
            <label for="startTime">Meeting Start</label>
            <input class="form-control" id="startTime" placeholder="Start Time" type="time" step="900">
        </div>
        <div class="form-group">
            <label for="endTime">Meeting End</label>
            <input class="form-control" id="endTime" placeholder="End Time" type="time" step="900">
        </div>
        <button class="btn btn-primary" onclick="postMeeting(document.querySelector('#startTime'), document.querySelector('#endTime'))" type="button">Start Meeting</button>
        <table class="people-table">
            <tr>
                <th>Name</th>
                <th>Hours</th>
            </tr>
            <% for (const person of people) { %>
            <tr>
                <td><%= person.name %></td>
                <td><%= person.hours %></td>
            </tr>
            <% } %>
            <tr>
                <td>Total</td>
                <td><%= meeting.hours %></td>
            </tr>
        </table>
    </card>
    <script type="text/javascript" src="/assets/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/hours.js"></script>
</body>

</html>