<!DOCTYPE html>
<html lang="en">

<head>
    <title>BreakerBots - Hours People</title>
    <%- include('../../includes/head.html') %>
        <style>
            button {
                width: 90px;
            }
        </style>
</head>

<body class="hours">
    <card>
        <img src="/images/icon.png" alt="">
        <card-title>Hours Tracker</card-title>
        <card-subtitle>
            <%= meeting.title %>
        </card-subtitle>
        <card-subtitle>
            <%= meeting.start %> – <%= meeting.end %>
        </card-subtitle>
        <table class="people-table">
            <tr>
                <th>Name</th>
                <th style="width:120px;"></th>
            </tr>
            <% for (const person of people) { %>
                <tr>
                    <td>
                        <%= person.name %>
                    </td>
                    <td>
                        <button type="button" class="btn <%= person.signedIn ? 'btn-secondary' : 'btn-primary' %>"
                            onclick="postPerson(this, '<%= person.name %>')">
                            Sign <%= person.signedIn ? 'Out' : 'In' %>
                        </button>
                    </td>
                </tr>
                <% } %>
        </table>
    </card>

    <script type="text/javascript" src="/assets/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/hours.js"></script>
</body>

</html>