<!DOCTYPE html>
<html>

<head>
    <title>BreakerBots - Hours People</title>
    <%- include('../../includes/head.html') %>
    <meta http-equiv="refresh" content="120">

    <style>
        button {
            width: 90px;
        }
    </style>
</head>

<body class="hours">
    <card>
        <img src="/images/icon.png">
        <card-title>Hours Tracker</card-title>
        <card-subtitle><%= meeting.title %> Meeting</card-subtitle>
        <card-subtitle><%= date %></card-subtitle>
        <table class="people-table">
            <tr>
                <th>Name</th>
                <th>Hours</th>
                <th style="width:120px;"></th>
            </tr>
            <% for (const person of people) { %>
            <tr>
                <td><%= person.name %></td>
                <td><%= person.hours %></td>
                <td>
                    <button type="button"
                        class="btn <%= person.signedIn ? 'btn-secondary' : 'btn-primary' %>" 
                        onclick="postPerson('<%= person.name %>')">
                        Sign <%= person.signedIn ? 'Out' : 'In' %>
                    </button>
                </td>
            </tr>
            <% } %>
            <tr>
                <td>Ishaan (Total)</td>
                <td><%= meeting.hours %></td>
                <td></td>
            </tr>
        </table>
    </card>

    <script type="text/javascript" src="/assets/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/dayjs.js"></script>
    <script type="text/javascript" src="/assets/hours.js"></script>
</body>

</html>