/* Drawing.css */

#HelperI-Dim {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10001;
	transition: background 1s cubic-bezier(.4, 0, .2, 1);
}

#HelperI:not([data-active]) > #HelperI-Dim {
	background-color: rgba(0, 0, 0, 0);
}

#HelperI:not([data-active]) {
	pointer-events: none;
}

#HelperI-EleW {
	position: fixed;
	z-index: 10002;
	min-height: 50px;
	min-width: 250px;
	transition: all 1s cubic-bezier(.4, 0, .2, 1);
}

#HelperI:not([data-active]) #HelperI-Ele {
	transform: scale(0);
}

#HelperI-Ele {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	padding: 1ch 1.5ch;
	text-align: center;
	background-color: rgba(40, 40, 40, 0.8);
	color: #fff;
	border-radius: .3ch;
	font-size: 1.3rem;
	transform-origin: 0 0;
	transition: transform 1s cubic-bezier(.4, 0, .2, 1);
}