/* BreakerLayout.css */
.breaker-layout {
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
}

	.breaker-layout__panel {
		display: inline-block;
		padding: .5rem;
		width: 100%;
	}

.bl1:hover {
	background: rgba(0,0,0,0.05)
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome and Opera */
}